body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: cadetblue;
  }
  
  header {
    background-color: #0b867e;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header img {
    border-radius: 5%;
    margin-top: 10px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
 
  nav li {
    display: inline;
    margin-right: 20px;
  }
 
  nav a {
    text-decoration: none;
    color: #fff;
  }
  
  section {
    padding: 20px;
  }
  
  .project {
    margin-bottom: 40px;
  }
  
  .project img {
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
  }
  
  /* Add media queries for responsiveness */
  @media screen and (max-width: 600px) {
    header {
      font-size: 18px;
    }
  
    nav {
      margin-top: 10px;
      text-align: right;
    }
  
    nav li {
      display: block;
      margin-bottom: 10px;
    }
  }
  
  /* Grid layout for the work section */
  #work {
    display: grid;
    grid-template-areas: 
    "menu-work surf-report surf-report"
    "menu-work surf-report surf-report"
    "menu-work surf-report surf-report"
    "menu-work led-wall calculator"
    "menu-work pastel-puzzels run-buddy";
    grid-gap: 20px;
  }

  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
  }
  .menu-work {
    grid-area: menu-work;
    /* aligning text at top didnot work*/
    vertical-align:top;

  }

  #menu-work {
    text-align: left;
    align-self: baseline;
    background-color: cadetblue;
    
  }
  
  .surf-report {
    grid-area: surf-report;
    background-image:url("../images/02-portfolio-4.jpg");
    background-size: 900px 200px;
    background-repeat: no-repeat;
  }
  .led-wall {
    grid-area: led-wall;
    background-image: url(../images/02-portfolio-1.jpg);
    background-size: 500px 200px;
    background-repeat: no-repeat;
  }
  .calculator {
    grid-area: calculator;
    background-image: url("../images/02-portfolio-2.jpg");
    background-size: 500px 200px;
    background-repeat: no-repeat;
  }
  .pastel-puzzels {
    grid-area: pastel-puzzels;
    background-image: url("../images/02-portfolio-3.jpg");
    background-repeat: no-repeat;
    background-size: 500px 200px;
  }
  .run-buddy {
    grid-area: run-buddy;
    background-image: url("../images/02-run-buddy.jpg");
    background-size: 500px 200px;
  }
  #work-title {
    grid-column: span 4;
  }
  


  #contact {
    display: flex;
    justify-content: space-between;
  }